<div class="">
  <h1 class="display-4 text-white" align="center">4 EN LINEA</h1>
  <div class="container">

    <div *ngIf="gameMode === null">
      <br><br><br><br><br><br>
      <h1 class="display-4 text-danger">Selecciona el modo de Juego:</h1>
      <div class="row">
        <button (click)="onChangeGameMode('Player vs player')" type="button"
                class="text-center btn btn-outline-danger  btn-lg btn-block col-12">
          Jugador VS Jugador
        </button>
        <button (click)="onChangeGameMode('Player vs AI')" type="button"
                class="text-center btn btn-outline-danger  btn-lg btn-block col-12">
          Jugador VS Maquina
        </button>
      </div>
    </div>


    <div *ngIf="gameMode === 'Player vs AI'">
      <div>
        <h1 class="display-4 text-danger">{{gameMode}}</h1>
        <app-board (playerEmitter)="playerTurnOriginal = $event"
                   [gameMode]="gameMode"
                   (gameEnded)="onGameEnd($event)">
        </app-board>
      </div>
      <h1 [class.text-warning]="playerTurnOriginal"
          [class.text-primary]="!playerTurnOriginal"
          align="center">{{ getPlayerPlaying()}}</h1>
    </div>


    <div *ngIf="gameMode === 'Player vs player'">
      <div>
        <h1 class="display-4 text-danger">{{gameMode}}</h1>
        <app-board
          (playerEmitter)="playerTurnOriginal = $event"
          [gameMode]="gameMode"
          (gameEnded)="onGameEnd($event)">

        </app-board>
      </div>
      <h1 [class.text-warning]="playerTurnOriginal"
          [class.text-primary]="!playerTurnOriginal"
          align="center">{{ getPlayerPlaying()}}</h1>
    </div>
  </div>

</div>
